/* Modificar a página toda */
*{
    /* Margin */
    margin: 0;

    /* Espaços dentro */
    padding: 0;

    /* Preserva as dimersões quando usar padding */
    box-sizing:border-box;
}

/* Pseudocódigo */
    /* Usa a medida REM */
:root{
    font-size: 62.5%; /* Medidas relativas. 62.5% virá 10px, pois 16px é o tamanho padrão, 16x62,5% = 10 */
}

/* Modificar body */
body{
    font-family: 'times new roman';
}

table, td, th{
    border: 1px solid black;
}

table{
    font-size: 2.4rem;

    /* Estilização dentro da caixa */
    border-collapse: separate; /* Padrão */
}

/* Estilizar somente cabeçalho */
    table tr:first-child{ /* Primeiro elemento */
        background-color: steelblue;
        color: #fff;
    }

/* Todas as linhas pares, com estilização diferente*/
    table tr:nth-child(2n + 3){ /* Seleciona elementos com base nas posições a partir da 3ª linha*/
    background-color: #999;
    }

/* Todos cabeçalhos */
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', arial, cursive;
}

h1{
/* Cor do texto */ 
    color: #ff0000;
    /* Os 2 primeiros são R(ED). Os 2 do meio são G(reen). Os 2 últimos são B(lue) */

/* Tamanho fonte */
     font-size: 96px; /* 96/10 = 9.6rem */
    /* Relativo. Leva em consideração o root. O que for inserido por último, sempre vai subscrever o primeiro */
    font-size: 9.6rem;

    /* Se redefinir algum elemento pai e utiliza EM no filho, ele irá redefinir tudo */
    /* .novo-em{
        font-size: 300%;
    }

    .novo-em h2{
        font-size: 3.2em;
    } */

/* Largura fonte */
    font-weight: 900;

/* Família da fonte. Procura as fontes no computador na ordem. Não achando nenhuma, usa uma aleatória */
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 8rem;
    color: blue;

    /* Estilizar texto */
    font-style: italic;
    
    /* Efeitos no texto */
    text-decoration:line-through;

    /* Caixa alta ou baixa */
    text-transform: uppercase;

    /* Alinhamento */
    text-align: center;
}
h3{
    font-size: 2.4rem;
}

p{
    font-size: 1.8rem;

    /* Recuo */
    text-indent: 90px;
}

a{
    font-size: 2.4rem;
    color: red;
}

/* Pseudo-classe */ 
    /* Se visitado */
a:visited{
    color: aqua;
}
    /* Ao passar mouse. Sempre colocar por último para o navegador respeitar */
a:hover{
    color: blueviolet;
}

.bg{
/* Altura. A % só pode ser usada se especificar o tamanho em px no bloco que envolve a tag */
    height: 500px;

    /* VH faz a altura da página */
    /* height: 100vh; */

/* Largura. 100% da página. A % respeita o container pai, o que agrupa esses elementos*/
    width: 100%;

    /* VW sempre vai usar em relação a página inteira */
    /* width: 80vw; */

    /* Cor de fundo */
    background-color: blue;

    /* Imagem de fundo */
    background-image: url('https://images.unsplash.com/photo-1682695796954-bad0d0f59ff1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    /* Tamanho de fundo */
/* Capa. A imagem é cortada */
    background-size: cover;
/* Container. A imagem é repetida */
    /* background-size: contain; */
/* Para não repetir */
    /* background-repeat: no-repeat; */

    /* Posição do fundo */
    /* background-position: center; */

    /* Fundo fixo */
    background-attachment: fixed;

}

ul, ol{
    padding-left: 3.6rem;
}

ul{
    list-style:square;
}

ol{
    list-style: lower-latin;
}

li{
    font-size: 2.4rem;
}

.box{
    height: 10rem;
    width: 20rem;
    color:black;
    font-size: 2.4rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 4px solid royalblue;

    /* Arredondar pontas das bordas */
    border-radius: 10px;
    background-color: aquamarine;
    
/* Não permite que coloque algo do lado */
    /* display: block; */

/* Encaixa algo do lado se couber*/
    display: inline-block;

    /* display: inline; Não respeita height e width*/
}

img{
/* Não permite que coloque do lado */
    /* display: block; */

    height: 10rem;

}