/* Modificar a página toda */
*{
    /* Margin */
    margin: 0;

    /* Espaços dentro */
    padding: 0;

    /* Preserva as dimersões quando usar padding */
    box-sizing:border-box;
}

/* Pseudocódigo */
    /* Usa a medida REM */
:root{
    font-size: 62.5%; /* Medidas relativas. 62.5% virá 10px, pois 16px é o tamanho padrão, 16x62,5% = 10 */
}

/* Modificar body */
body{
    font-family: 'times new roman';
}

.contact-list{
    position: relative;
}

.contact-list h3{
    top: 7rem;
/* Ao passar o scroll e parar no h3, ele fica fixo */
    position: sticky;

/* Não se usa mais */
    /* float: ...;
    clear: ...; */

    background-color: crimson;
}

table, td, th{
    border: 1px solid black;
}

table{
    font-size: 2.4rem;

    /* Estilização dentro da caixa */
    border-collapse: separate; /* Padrão */
}

/* Estilizar somente cabeçalho */
    table tr:first-child{ /* Primeiro elemento */
        background-color: steelblue;
        color: #fff;
    }

/* Todas as linhas pares, com estilização diferente*/
    table tr:nth-child(2n + 3){ /* Seleciona elementos com base nas posições a partir da 3ª linha*/
    background-color: #999;
    }

/* Todos cabeçalhos */
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', arial, cursive;
}

h1{
/* Cor do texto */ 
    color: #ff0000;
    /* Os 2 primeiros são R(ED). Os 2 do meio são G(reen). Os 2 últimos são B(lue) */

/* Tamanho fonte */
     font-size: 96px; /* 96/10 = 9.6rem */
    /* Relativo. Leva em consideração o root. O que for inserido por último, sempre vai subscrever o primeiro */
    font-size: 9.6rem;

    /* Se redefinir algum elemento pai e utiliza EM no filho, ele irá redefinir tudo */
    /* .novo-em{
        font-size: 300%;
    }

    .novo-em h2{
        font-size: 3.2em;
    } */

/* Largura fonte */
    font-weight: 900;

/* Família da fonte. Procura as fontes no computador na ordem. Não achando nenhuma, usa uma aleatória */
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 8rem;
    color: blue;

    /* Estilizar texto */
    font-style: italic;
    
    /* Efeitos no texto */
    text-decoration:line-through;

    /* Caixa alta ou baixa */
    text-transform: uppercase;

    /* Alinhamento */
    text-align: center;
}
h3{
    font-size: 2.4rem;

/* Some o conteúdo mas ainda ocupa espaço */
    /* visibility: hidden; */

/* Opacidade. 1 = o máximo, 0 de transparencia. 0 = transparencia total mas ainda o elemento está la, deixando ser clicado*/
    /* opacity: 0; */
}

p{
    font-size: 1.8rem;

    /* Recuo */
    text-indent: 90px;
}

a{
    font-size: 2.4rem;
    color: red;
}

/* Pseudo-classe */ 
    /* Se visitado */
a:visited{
    color: aqua;
}
    /* Ao passar mouse. Sempre colocar por último para o navegador respeitar */
a:hover{
    color: blueviolet;
}

.bg{
    height: 500px;
    width: 100%;
    background-color: blue;
    background-image: url('https://images.unsplash.com/photo-1682695796954-bad0d0f59ff1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-attachment: fixed;
}

ul, ol{
    padding-left: 3.6rem;
}

ul{
    list-style:square;
}

ol{
    list-style: lower-latin;
}

li{
    font-size: 2.4rem;
}

.boxes{
/* Impedir que o position: absolute coloque no inicio do layout, deixando que conte o left, top.... em que estiver o absolute */
    position: relative;

/* Encaixa tudo em linha*/
    display: flex;

/* Os itens são quebrados em multiplas linhas*/
    flex-wrap: wrap;
}

/* Span que vem depois do box */
.box + span{
    display: none;
}

.box{
/* Quebra */
    flex: 30%;
    height: 10rem;
    width: 20rem;
    color:black;
    font-size: 2.4rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 4px solid royalblue;

    /* Arredondar pontas das bordas */
    border-radius: 10px;
    background-color: aquamarine;
    
/* Não permite que coloque algo do lado */
    /* display: block; */

/* Encaixa algo do lado se couber*/
    display: inline-block;

    /* display: inline; Não respeita height e width*/

/* Static vem por padrão. Não posibilita que os elementos tenham left, top... */
    position: static;
}

.box:nth-child(1){
/* Coloca por trás de outra. Não vai ocupar espaço em tela. Se tiver absolute e os elementos pai não tem  declarado uma position, ele vai pro começo do layout*/
    /* position: absolute; */
    top: 20px;
    left: 100px;
}

/* .box:nth-child(2){
/* Deixar fixo no inicio (topo) do layout 
    position: fixed;
    top: 15px;
    left: 30px;
} */

.box:nth-child(n + 2){
    /* display: none; */
}

img{
/* Não permite que coloque do lado */
    /* display: block; */

    height: 10rem;

}

/* Chamar id */
    /* #tabela{
    } */

/* Chamar uma data que criou */
/* [data-company="CO"]{
    background-color: aquamarine;
} */

/* Responsividade */
@media screen and (min-width: 1000px){
    .bg{
        height: 50vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px){
    .bg{
        height: 80vh;
    }
}

@media screen and (max-width: 767px){
    table{
        display: none;
    }
    h3{
        color: rebeccapurple;
    }
}

/* Imprimir página */
@media print{
    .bg{
        display: none;
    }
}

a{
    background-color: blueviolet;
    color: #fff;
    border: none;
    font-size: 3.4rem;
    padding: 2rem 2.4rem;
    cursor: pointer;
    width: 80%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: block;


/* Animações */
    /* Aumentar tamanho/Rodar/Mover */
    /* transform: scale(2) rotate(20deg) translateY(.5rem) ; */

    /* Animação fluida em tudo,Transição mais lenta na cor de fundo */
    transition: all .2s ease-in-out, background-color 1s ease-in-out;
}

[data-button="produtos"]:hover{
/* Aumentar ao passar mouse */
    transform: scale(1.2);

/* Mudar cor */
    background-color: aquamarine;
}

[data-button="time"]{
    /* Animação constante */
    animation: pulse .5s infinite;

    /* Começa em */
    transform: scale(1);
}

/* Criar a animação */
@keyframes pulse {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.25);
        opacity: .5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
